html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  overflow: hidden;
  font-family: "Open Sans", serif;
}

:root {
  --main-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* ::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
} */

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.page {
  background-color: #f1f5f9;
}

/* Start Header  */
header {
  background-color: #c6d6d3;
  width: 100%;
  height: 80px;
  padding: 10px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .links ul {
    display: flex;
    gap: 60px;
    li {
      font-size: 1.8rem;
    }
  }
}
/* End Header  */
